.movie__search-form {
    margin-top: 100px;
    margin-bottom: 40px;
    
}

.movie__search-error {
    color: white;
}

.movie__search-wrapper {
    width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.movie__search-label {
    color: white;
    font-size: 28px;
}

#movieName {
    line-height: 35px;
    width: 450px;
    height: 50px;
    font-size: 27px;
    border: 2px solid #9610FF;
    &:active {
        border: 2px solid #9610FF;
    }
}
button {
    text-align: center;
    width: 100px;
}


.movie{
    &__grid {
        display: grid;
        align-content: flex-start;
        grid-template-rows: 400px;
        grid-auto-rows: 400px;
        gap:30px;
        margin-top: 80px;
    }
    &__item {
        display: grid;
        width: 830px;
        grid-template-columns: 250px 542px;
        gap: 8px;
        padding-left: 20px;
        border: 2px solid #9610FF;
        // background-color: #aba9a9fd;
        background: linear-gradient(to left, rgb(61, 155, 127) , transparent 80%);
        &-button {
            height: 40px;
            text-align: center;
            line-height: 10px;
        }
    }
    &-wrapper {
        position: relative;
        padding: auto;
        padding-top: 20px;
    }
    &__image {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        img {
            max-width: 100%;
            height: 350px;
        }
    }
    &__title {
        text-align: center;
        font-size: 30px;
    }
    &__description {
        padding: 10px;
    }
    &__rating {
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-size: 25px;
        font-weight: bold;
    }
}