.movie__search-form {
    margin-top: 100px;
    margin-bottom: 40px;
    
}

.movie__search-error {
    color: white;
}

.movie__search-wrapper {
    justify-content: center;
    width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.movie__search-label {
    color: white;
    font-size: 28px;
}

#movieName {
    line-height: 35px;
    width: 450px;
    height: 50px;
    font-size: 27px;
    border: 2px solid #9610FF;
    &:active {
        border: 2px solid #9610FF;
    }
}
// button {
//     text-align: center;
//     width: 100px;
// }
