@import '../../style/variables.scss';

.app {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: rgba(204, 247, 198, 0.771);
    }
    &__title {
        a {
            color: #fff;
        }
        color: white;
        font-weight: bold;
        font-size: 37px;
        line-height: 37px;
    }
    .title__wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        justify-content: center;
    }
    &__icon {
        width: 64px;
        margin-right: 10px;
        transform: translateY(-10px);
    }
    &__menu {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            font-weight: bold;
            font-size: 24px;
            line-height: 38px;
            li {
                
                color: white;
                text-align: center;
                align-items: center;
                width: 150px;
                height: 44px;
                border: 2px solid #9610FF;
                filter: drop-shadow(0px 9px 19px rgba(0, 0, 0, 0.15));
                border-radius: 30px;
                transition: all 0.9s;
                margin-right: 16px;
                // margin: 0 8px;
                &:hover {
                    transition: all 0.7s;
                    scale: 1.2;
                    color: rgb(131, 61, 61);
                }
            }
        }
    }
}