.movie{
    &__grid {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-rows: 400px;
        grid-auto-rows: 400px;
        gap:60px;
        margin-top: 80px;
    }
    &__item {
        position: relative;
        color: rgb(222, 244, 234);
        display: grid;
        width: 1000px;
        grid-template-columns: 250px 542px;
        gap: 70px;
        padding-left: 20px;
        border: 1px solid #0a140f;
        // background-color: #aba9a9fd;
        background: linear-gradient(to left, rgb(61, 155, 127) 10%, transparent 100%);
        &-button {
            height: 50px;
            text-align: center;
            line-height: 19px;
        }
        border-radius: 25px;
    }
    &-wrapper {
        text-align: center;
        padding: auto;
        padding-top: 20px;
    }
    &__image {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        img {
            max-height: 90%;
            height: 350px;
            filter: opacity(85%);
        }
    }
    &__title {
        text-align: center;
        font-size: 30px;
    }
    &__description {
        font-weight: 400;
        padding: 10px;
    }
    &__rating {
        color: black;
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-size: 25px;
        font-weight: bold;
    }
    &__buttons {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 200px 320px;
        align-items: center;
    }

    &__button {
        display: flex;
        align-items: center;
        &-active {
            background: linear-gradient(180deg, #333159, #333159, #333159, #333159);
            color:white;
        }
    }

    &__iconAdd {
        width: 28px;
        margin-right: 5px;
    }

    
}